/**
 * css editor page
 */


body{
    background-color: rgba(255, 255, 255, 0.29);
}

/** nav bar **/

.navbar {
    position: fixed;
    z-index: 1;
    background-color: rgba(106, 110, 112, 0.98);
    width: 100%;
    padding: 6px 6px 0 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.logo{
    float:left;
    overflow:hidden;
}

.button{
    float:right;
    margin-top: 5px;
    margin-right: 25px;
    color: rgba(106, 110, 112, 0.98);
    background: #eeeeee;
}

.button > a{
    color: rgba(106, 110, 112, 0.98);
    text-decoration: none;
}



/** Modal**/

.modalDialog {
    position: fixed;
    font-family: Helvetica, Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow: auto;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 3% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.modalDialog > div > h4 {
    margin-top: 10px;
}

.cancel{
    float: none;
}


/**
 * css editor page
 */

/* wider container on the editor page*/
.container{
    max-width: 1754px;
}

iframe{
    overflow: auto;
}

nav{
    /* dp not use margin-right or width!*/
    background-color: rgba(255, 255, 255, 0.29);
    position:fixed;
    height: 100%;
    margin-top: 60px;
    padding: 20px 10px 10px 10px;
    right: 0;
    -webkit-box-shadow: 0 0 3px 5px rgba(238, 236, 226, 0.71);
    -moz-box-shadow: 0 0 3px 5px rgba(238, 236, 226, 0.64);
    box-shadow: 0px 0px 10px 5px rgba(196, 194, 186, 0.71);
    max-width: 20%;
}

#paper{
    padding-top: 75px;
}


/** media queries **/

/* fitting the nav-bar on the right for small displays */
@media (max-width: 800px) {
    nav{
        min-width: 140px;
    }
}

/* show hint on small displays */
@media (max-width: 550px) {
    #paper{
        display: none;
    }
    nav{
        display: none;
    }
    #smallDisplay{
        margin-top: 120px;
        display: block;
        background-color: rgba(139, 0, 0, 0.63);
        -webkit-box-shadow: 0 0 3px 5px rgba(139, 0, 0, 0.63);
        -moz-box-shadow: 0 0 3px 5px rgba(139, 0, 0, 0.63);
        box-shadow: 0 0 3px 5px rgba(139, 0, 0, 0.63);
    }
}

/* hide hint on larger displays */
@media (min-width: 550px){
    #smallDisplay{
        display: none;
    }
}


/** user feedback messages **/
.message {
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 3%;
    display: none;
}

.success {
    background-color: rgba(111, 229, 69, 0.56);
    display: block;
}

.error {
    background-color: rgba(186, 0, 0, 0.56);
    display: block;
}