/**
<div id="chart_container">
	<div id="y_Axis"></div>
	<div id="chart"></div>
	<div id="x_Axis"></div>
	<div id="legend_container">
		<div id="smoother" title="Smoothing"></div>
		<div id="legend"></div>
	</div>
	<div id="slider"></div>
</div>

**/





#chart_container{
	width: 100%;
	position: relative;
}

#chart{
	position: absolute;
	width: 88%;
	left: 2.5%;
	top: 0px;
}

#y_Axis{
	position: absolute;
	right: 97.55%;
	top: 0%;
	height: 300px;
}

#x_Axis{
	position: absolute;
	left: 0%;
	bottom: 0%;
}

#legend_container{
	position: absolute;
	top: 0%;
	right: 0%;
}

#slider{
	position: absolute;
	top: 310px;
	left: 2.5%;
}

#color_chooser{
	position: absolute;
	right: 0%;
	top: 217px;
}