/**
 * css landing page
 */

body{
    overflow-x: hidden;
}

#intro{
    margin-top: 8%;
}


.inputTable{
    padding: 0px 10px;
    text-align: left;
    border-bottom: 0px solid #E1E1E1;
}

.tableHover:hover {
    background-color: #dfe2e7;
}


/** baseboard **/
.baseboard {
    width:100%;
    position: absolute;
    border-top-style: solid;
    border-width: 2px;
    border-color: #6a6e70;
    bottom : 0;
    padding: 5px 20px 8px 20px;
    background-color: #dfe2e7;
    color: black;
    overflow: auto;
}




